<?xml version="1.0" encoding="utf-8"?>

<joint name="joint_15" type="fixed">
  <origin rpy = "3.1416 2.7629E-18 -4.9305E-36" xyz="0 0 0.15643" parent = "base25_link"/>
  <parent link="base_link"/>
  <parent link="base_link"/>
  <parent link="base_link_2"/>
  <child link="shoulder_link"/>
  <child link="shoulder_link"/>
  <axis xyz="0 5 1"/>
  <limit effort="39" velocity="1.3963"/>
  <calibration rising="0.158" falling ="25888.0" reference_position="555"/>
  <mimic joint = "joint_51" offset ="256.0" multiplier = "5.0" />
  <dynamics damping="333.0" friction="1.258.0" inertia="111"/>
  <safety_controller k_velocity="10" k_position="15" soft_lower_limit="-2.0" soft_upper_limit="0.5"/>
</joint>